<% extends ./base.html %>

<% subskin groupConfig %>
                        groupConfig: [
                            {
                                title: i18n("app", "group1Title"),
                                children: [
                                    {name: "P1", title: i18n("app", "subGroup1Title")},
                                    {name: "P2", title: i18n("app", "subGroup2Title")},
                                    {name: "P3", title: i18n("app", "subGroup3Title")},
                                    {name: "P4", title: i18n("app", "subGroup4Title")}
                                ]
                            }, {
                                title: i18n("app", "group2Title"),
                                children: [
                                    {name: "C1", title: i18n("app", "subGroup1Title")},
                                    {name: "C2", title: i18n("app", "subGroup2Title")},
                                    {name: "C3", title: i18n("app", "subGroup3Title")},
                                    {name: "C4", title: i18n("app", "subGroup4Title")}
                                ]
                            }
                        ],

<% subskin mapConfig %>
                map: {
                    id: "map",
                    border: false,
                    projection: "EPSG:900913",
                    units: "m",
                    maxResolution: 156543.0339,
                    maxExtent: [
                        -20037508.34, -20037508.34,
                        20037508.34, 20037508.34
                    ],
                    layers: [{
                        source: "google",
                        title: "Road Map",
                        name: "ROADMAP",
                        group: "background"
                    }, {
                        source: "google",
                        title: "Satellite Map",
                        name: "SATELLITE",
                        group: "background",
                        visibility: false
                    }, {
                        source: "google",
                        title: "Terrain Map",
                        name: "TERRAIN",
                        group: "background",
                        visibility: false
                    }, {
                        source: "gabon",
                        name: "gabonprovince:DEP",
                        visibility: false,
                        title: "Province: DEP",
                        group: "P3"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Distric",
                        visibility: false,
                        group: "C4",
                        title: "Province: Distric"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Equateur",
                        visibility: false,
                        group: "C2",
                        title: "Province: Equateur"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:G-Dept",
                        visibility: false,
                        group: "C3",
                        title: "Province: G-Dept"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:G-Prov",
                        group: "C3",
                        title: "Province: G-Prov"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Gares",
                        visibility: false,
                        group: "C4",
                        title: "Province: Gares"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Hydro_imp",
                        visibility: false,
                        title: "Province: Hydro_imp",
                        group: "C2"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Route",
                        visibility: false,
                        group: "C1"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:Village",
                        visibility: false,
                        title: "Province: Village",
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:POI",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:POIpoints",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:capital_dept",
                        visibility: false,
                        title: "Province: capital_dept",
                        group: "C4"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:capital_prov",
                        visibility: false,
                        group: "C4",
                        title: "Province: capital_prov"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:frontiere",
                        visibility: false,
                        title: "Province: frontiere",
                        group: "C3"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:lim_Dept",
                        visibility: false,
                        group: "C3",
                        title: "Province: lim_Dept"
                    }, {
                        source: "gabon",
                        name: "gabonprovince:topo_hydro",
                        visibility: false,
                        title: "Province: topo_hydro",
                        group: "C4"
                    }, {
                        source: "gabon",
                        name: "tridex:road",
                        visibility: false,
                        group: "C1"
                    }, {
                        source: "gabon",
                        name: "tridex:road",
                        visibility: false,
                        group: "P1"
                    }, {
                        source: "gabon",
                        name: "tridex:POIlines",
                        visibility: false,
                        group: "P1"
                    }, {
                        source: "gabon",
                        name: "tridex:Ville",
                        visibility: false,
                        group: "P3"
                    }, {
                        source: "gabon",
                        name: "tridex:Village",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:Route",
                        visibility: false,
                        group: "P1",
                        title: "Route étendu"
                    }, {
                        source: "gabon",
                        name: "tridex:Chemin_Fer",
                        visibility: false,
                        group: "C2"
                    }, {
                        source: "gabon",
                        name: "tridex:Cote_Pt",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:Courbe",
                        visibility: false,
                        group: "P2"
                    }, {
                        source: "gabon",
                        name: "tridex:Point_Ct",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:Norm_Hydro",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "tridex:Lac",
                        visibility: false,
                        group: "P2"
                    }, {
                        source: "gabon",
                        name: "tridex:Ile",
                        visibility: false,
                        group: "P2"
                    }, {
                        source: "gabon",
                        name: "tridex:Hydro_Poly",
                        visibility: false,
                        group: "C2"
                    }, {
                        source: "gabon",
                        name: "tridex:Hydro_L",
                        visibility: false,
                        group: "P2"
                    }, {
                        source: "gabon",
                        name: "tridex:Gare",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "parcel:Altimetrie",
                        visibility: false,
                        group: "P2"
                    }, {
                        source: "gabon",
                        name: "parcel:PT_POLYGO",
                        visibility: false,
                        group: "P4"
                    }, {
                        source: "gabon",
                        name: "parcel:Parcelles",
                        visibility: false,
                        group: "P1"
                    }, {
                        source: "gabon",
                        name: "parcel:limits-Arron",
                        visibility: false,
                        group: "P3"
                    }, {
                        source: "gabon",
                        name: "parcel:routes",
                        visibility: false,
                        group: "P1"
                    }, {
                        source: "gabon",
                        name: "parcel:saisie",
                        visibility: false,
                        group: "P1"
                    }, {
                        source: "ol",
                        group: "background",
                        fixed: true,
                        type: "OpenLayers.Layer",
                        args: [
                            "Aucun", {visibility: false}
                        ]
                    }],
                    center: [1294900, 19763],
                    zoom: 7
                }
